/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "bluunext";
  src: url(bluunext.woff), url(bluunext.woff2);
}

body {
  font-family: "bluunext", "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 1.25;
  background-color: #edc7a9;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0));
  color: #000000;
  min-height: 100vh;
  overflow: hidden;
  transition: background-color 350ms;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

h2 {
  font-size: 10vmin;
}

section {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
section a {
  color: #000000;
}
#circles {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #3e78ed;
  transition: background-color 350ms;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin: 0 10px;
  cursor: pointer;
}
